body {
  background: #111;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.App {
  position: relative;
  top: -200px;
}

.Background {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -512px;
  margin-top: -384px;
  width: 1024px;
  height: 768px;
}

@keyframes background-animation {
  0% { background-position: 0 0; }
  100% { background-position: -3330px 0; }
}

.Ball {
  position: absolute;
  width: 111px;
  height: 128px;
  background: url('images/freedom.png');
  background-size: 3330px 128px;
  background-position: 0 0;
  background-repeat: no-repeat;
  top: -55.5px;
  left: -64px;
  filter: brightness(1.4);
  animation: background-animation 1s steps(30) infinite;
}

.Ball-0 {
  animation-delay: 0.0s;
  animation-duration: 1.1s;
}

.Ball-1 {
  animation-delay: 0.1s;
  animation-duration: 1.2s;
}

.Ball-2 {
  animation-delay: 0.2s;
  animation-duration: 1.3s;
}

.Ball-3 {
  animation-delay: 0.3s;
  animation-duration: 0.9s;
}

.Ball-4 {
  animation-delay: 0.4s;
  animation-duration: 0.8s;
}

.Ball-5 {
  animation-delay: 0.5s;
  animation-duration: 1.0s;
}

.Ball-6 {
  animation-delay: 0.6s;
  animation-duration: 1.4s;
}
